<template>
  <v-row>
    <v-col class="text-center">
      Backend System
      <v-row>
        <v-col>
          Add Shop
          <v-text-field v-model="shopname" label="Shop Name" required />
          <v-col class="text-center"
            ><v-btn elevation="2" @click="addshop">ADD SHOP</v-btn></v-col
          >
          <v-row>
            <v-text-field v-model="ShopSet" label="shop" required />
            <v-text-field v-model="statusSet" label="status" required />
          </v-row>
          <v-col class="text-center"
            ><v-btn elevation="2" @click="setProductinShop">Set</v-btn></v-col
          >
        </v-col>
        <v-col>
          Add Product
          <v-text-field v-model="productname" label="Product Name" required />
          <v-text-field v-model="productstatus" label="Status" required />
          <v-text-field v-model="productshop" label="Product Shop" required />
          <v-col class="text-center"
            ><v-btn elevation="2" @click="addPro">ADD PRODUCT</v-btn></v-col
          >
        </v-col>
      </v-row>
      <v-row v-if="loaded">
        <v-col>
          SHOP
          <v-data-table
            :headers="headersShop"
            :items="DataShop"
            :items-per-page="5"
            class="elevation-1"
          />
        </v-col>
        <v-col>
          Product
          <v-data-table
            :headers="headersProduct"
            :items="DataProduct"
            :items-per-page="5"
            class="elevation-1"
          />
        </v-col>
      </v-row>
      <v-col>
         Find Product
         <v-text-field v-model="findShop" label="Shop Name" required />
          <v-col class="text-center"
            ><v-btn elevation="2" @click="FindProduct">Find SHOP</v-btn></v-col
          >
          <v-data-table
            :headers="headersProduct"
            :items="DataFind"
            :items-per-page="5"
            class="elevation-1"
          />
      </v-col>

      <blockquote class="blockquote">
        <footer>
          <small>
            <em>&mdash;Thaksa Nanan</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      headersShop: [
        { text: "id", value: "id" },
        { text: "name", value: "name" },
      ],
      headersProduct: [
        { text: "id", value: "id" },
        { text: "name", value: "name" },
        { text: "status", value: "status" },
        { text: "ShopID", value: "shopID" },
      ],
      headersfindProduct: [
        { text: "id", value: "id" },
        { text: "name", value: "name" },
        { text: "status", value: "status" },
        { text: "ShopID", value: "shopID" },
      ],
      DataShop: [],
      DataProduct: [],
      DataFind:[],
      shopname: "",
      productname: "",
      productstatus: "",
      productshop: "",
      ShopSet:"",
      statusSet:"",
      findShop:""
    };
  },
  created() {
    this.GetData();
  },
  methods: {
    async GetData() {
      this.loaded = false;
      await this.$axios
        .$get("http://localhost/RudyServer/service/shop/")
        .then((res) => {
          this.DataShop = [];
          for (let i in res.response) {
            let obj = {
              id: res.response[i].id,
              name: res.response[i].name,
            };
            this.DataShop.push(obj);
          }
        });
      await this.$axios
        .$get("http://localhost/RudyServer/service/shop/getProductAll.php")
        .then((res) => {
          this.DataProduct = [];
          for (let i in res.response) {
            let obj = {
              id: res.response[i].id,
              name: res.response[i].name,
              status: res.response[i].status,
              shopID: res.response[i].shop_id,
            };
            this.DataProduct.push(obj);
          }
        });
      this.loaded = true;
    },
    async addshop() {
      await this.$axios
        .$post("http://localhost/RudyServer/service/shop/addshop.php", {
          shop: this.shopname,
        })
        .then((res) => {
          console.log(res);
        });
      this.GetData();
    },
    async addPro() {
      let body = {
        produst_name: this.productname,
        product_status: this.productstatus,
        shop: this.productshop,
      };
      console.log(body);
      await this.$axios
        .$post("http://localhost/RudyServer/service/shop/addproduct.php", body)
        .then((res) => {
          console.log(res);
        });
      this.GetData();
    },
    async setProductinShop(){
      let body = {
        status: this.ShopSet,
        shop: this.statusSet,
      };
      console.log(body)
      await this.$axios
        .$post("http://localhost/RudyServer/service/shop/setAllproductInStock.php",body)
        .then((res) => {
          console.log(res);
        });
      this.GetData();
    },
    async FindProduct(){
      let body = {
        shop: this.findShop
      };
      await this.$axios
        .$post("http://localhost/RudyServer/service/shop/getProductByShop.php", body)
        .then((res) => {
          console.log(res)
          this.DataFind = [];
          for(let i in res.response) {
            let obj = {
               id: res.response[i].id,
              name: res.response[i].name,
              status: res.response[i].status,
              shopID: res.response[i].shop_id,
            }
            this.DataFind.push(obj)
          }
        });
    }
  },
};
</script>

