<template>
  <div>
    <v-row>
      <v-col class="text-center">
        <img src="/covid.png" width="20%" height="100%" />
      </v-col>
    </v-row>
    <v-slider
      v-model="slider"
      thumb-label="always"
      min="7"
      max="30"
      @change="GetDatafromDay"
    />
    <!-- <v-btn
      depressed
      color="primary"
      @click="()=> console.log('Hi')"
    >
      Primary
    </v-btn> -->
    <div v-if="loaded == false" class="loading-page">
      <v-col class="text-center">
        <p>Loading...</p>
      </v-col>
    </div>
    <div v-if="loaded">
      <Chart :chartData="CovidSet" :height="200" />
      <v-data-table
    :headers="headers"
    :items="TableData"
    :items-per-page="5"
    class="elevation-1"
  />
    </div>
    <v-col class="text-center">
      <blockquote class="blockquote">
        Covid 19 Data
        <footer>
          <small>
            <em>&mdash;Thaksa Nanan</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </div>
</template>

<script>
import Chart from "../components/Chart.js";
import moment from "moment";
export default {
  components: {
    Chart,
  },
  name: "",
  data() {
    return {
      date: 1,
      test: {},
      slider: 7,
      loaded: false,
      barChartOptions: {
        responsive: true,
        legend: {
          display: true,
        },
        title: {
          display: true,
          text: "Covid 19 data",
          fontSize: 24,
          fontColor: "#6b7280",
        },
        tooltips: {
          backgroundColor: "#FFFFFF",
        },
      },
      CovidSet: {
        labels: [],
        datasets: [
          {
            label: "Death",
            data: [],
            backgroundColor: "#8F00FF",
          },
          {
            label: "Cases",
            data: [],
            backgroundColor: "#FF0000",
          },
        ],
      },
      headers: [
        { text: "Date", value: "date" },
        { text: "Cases", value: "cases" },
        { text: "Deaths", value: "deaths" },
      ],
      TableData: [],
    };
  },
  created() {
    this.GetDatafromDay();
  },
  methods: {
    async fetchSomething() {
      await this.$axios
        .$get("https://disease.sh/v3/covid-19/all")
        .then((res) => {
          console.log("Response test : ", res);
          this.test = res;
        });
    },
    async GetDatafromDay() {
      this.loaded = false;
      await this.$axios
        .$get(
          "https://disease.sh/v3/covid-19/historical/all?lastdays=" +
            this.slider
        )
        .then((res) => {
          this.CovidSet.labels = [];
          this.CovidSet.datasets[0].data = [];
          this.CovidSet.datasets[1].data = [];
          this.TableData = [];
          //  console.log('res :',res)
          let date = this.slider - 1;
          let nowDay = new Date().getDate();
          for (let i in res.cases) {
            console.log("cases ", res.cases[i]);
            this.CovidSet.labels.push(
              moment(new Date().setDate(nowDay - date)).format("DD/MM/YYYY")
            );
            this.CovidSet.datasets[1].data.push(res.cases[i]);
            this.CovidSet.datasets[0].data.push(res.deaths[i]);
            let obj = {
              date: moment(new Date().setDate(nowDay - date)).format(
                "DD/MM/YYYY"
              ),
              cases: res.cases[i],
              deaths: res.deaths[i],
            };
            this.TableData.push(obj);
            date--;
          }
        });
      console.log("dataset : ", this.CovidSet);
      this.loaded = true;
    },
  },
};
</script>