<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="logo py-4 d-flex justify-center">
          <NuxtLogo />
          <VuetifyLogo />
        </v-card>
        <v-card>
          <v-card-title class="headline"> Welcome to Covid 19 </v-card-title>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" nuxt to="/covid"> Inspire </v-btn>
            <v-btn color="primary" nuxt to="/secondpage"> secondpage </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-sheet color="white" elevation="11" height="500" width="500" sm="8">
        <v-col class="text-center"> Register </v-col>
        <v-form>
          <v-text-field
            v-model="firstname"
            :counter="10"
            label="First name"
            required
          />
          <v-text-field
            v-model="lastname"
            :counter="10"
            label="last name"
            required
          />
          <v-text-field
            v-model="username"
            :counter="10"
            label="username"
            required
          />
          <v-text-field
            :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
            v-model="password"
            :type="show4 ? 'text' : 'password'"
            name="input-10-2"
            label="Password"
            hint="At least 8 characters"
            @click:append="show4 = !show4"
          />
          <v-col class="text-center"
            ><v-btn elevation="2" @click="SubmitRegister">Sign-up</v-btn></v-col
          >
          <v-col class="text-center"> {{TextReg}} </v-col>
          <v-col class="text-center"> {{token}} </v-col>
        </v-form>
      </v-sheet>
      <v-sheet color="white" elevation="11" height="300" width="500">
        <v-col class="text-center"> Log-in </v-col>
        <v-text-field
            v-model="loginUsername"
            label="Username"
            required
          />
          <v-text-field
            :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
            v-model="loginPassword"
            :type="show4 ? 'text' : 'password'"
            name="input-10-2"
            label="Password"
            hint="At least 8 characters"
            @click:append="show4 = !show4"
          />
          <v-col class="text-center"
            ><v-btn elevation="2" @click="SubmitLogin">Sign-in</v-btn></v-col>
            <v-col class="text-center"> {{TextLogin}} </v-col>
      </v-sheet>
    </v-row>
  </div>
</template>

<script>
import { Base64  } from 'js-base64';
export default {
  data() {
    return {
      firstname: "",
      lastname: "",
      username: "",
      show4: false,
      password: "",
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => v.length >= 8 || "Min 8 characters",
        emailMatch: () => `The email and password you entered don't match`,
        password: (value) => {
          const pattern =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
          return (
            pattern.test(value) ||
            "Min. 8 characters with at least one capital letter, a number and a special character."
          );
        },
      },
      TextReg: 'Register',
      TextLogin: 'Login',
      loginUsername:'',
      loginPassword:'',
      token:''
    };
  },
  methods: {
    async SubmitRegister() {
      let body = {
        username: this.username,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname,
        role: "user",
      };

      await this.$axios
        .$post("http://localhost/RudyServer/service/user/register.php",body)
        .then((res) => {
          this.TextReg = res.response;
          this.token = res.token
          console.log('token is ',this.token)
        });
    },
    async SubmitLogin() {
      let body = {
        username: this.username,
        password: Base64.encode(this.password),
        token: this.token
      };

      await this.$axios.$post("http://localhost/RudyServer/service/user/login.php",body)
      .then((res) => {
        console.log(res)
          this.TextLogin= res.response;
          this.token = res.token
        });
    }
  },
};
</script>


<style scoped>
.content-section {
  margin-left: 25em;
}
</style>
